*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 12px;
	font-family: sans-serif;
	list-style: none;
}
.h-95{
	height: 95px;
}
.h-105{
	height: 105px;
}
.h-30{
	height: 30px;
}
.h-35{
	height: 35px;
}
.h-45{
	height: 45px;
}
.h-20{
	height: 20px;
}
.h-25{
	height: 25px;
}
.h-10{
	height: 10px;
}
.h-15{
	height: 15px;
}
.h-75{
	height: 75px;
}
.h-55{
	height: 55px;
}
.h-40{
	height: 40px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix::after{
	content: ".";
	height: 0;
	clear:both;
	display: block;
	visibility:hidden;
}
.loginrCon{
	width: 100%;
    min-width: 1200px;
    background: url(../img/loginban.jpg) no-repeat center;
    background-size: auto 100%;
    margin: 0 auto;
    min-height: 610px;
}
.loginW{
	width: 740px;
	height: 405px;
	margin: 0 auto;
	overflow: hidden;
}
.loginW .login{
	width: 380px;
	height: 405px;
	overflow:hidden;
	background: #f2f2f2;
}
.loginf{
	width: 305px;
	margin: 0 25px 0 45px;
}
.loginf .tit{
	font-size: 16px;
	color: #2f2f2f;
	line-height: 25px;
	letter-spacing: 2px;
}
.loginf .section{
	width: 305px;
	height: 40px;
	background: #fff;
}
.loginf .section input{
	width: 305px;
	height: 40px;
	border: 0;
	outline: 0;
	display: block;
	font-size: 14px;
	color: #b3b3b3;
	text-indent: 20px;
}
.loginf .verifyW{
	width: 305px;
	height: 40px;
}
.loginf .verifyW .vinput{
	width: 190px;
	height: 40px;
	display: block;
	background: #fff;
}
.loginf .verifyW .vinput input{
	display: block;
	width: 190px;
	height: 40px;
	border: 0;
	outline: 0;
	background: #fff;
	text-indent: 20px;
}
.loginf .verifyW .cvinput{
	width: 205px;
	height: 40px;
	display: block;
	background: #fff;
}
.loginf .verifyW .cvinput input{
	display: block;
	width: 205px;
	height: 40px;
	border: 0;
	outline: 0;
	background: #fff;
	text-indent: 20px;
}
.loginf .verifyW .cbtn{
	width: 100px;
	height:40px;
	background: #45af35;
	overflow: hidden;
}
.loginf .verifyW .cbtn input{
	width: 100px;
	height:40px;
	background: #45af35;
	overflow: hidden;
	display: block;
	font-size: 14px;
	color: #fefefe;
	text-align: center;
	border: 0;
	outline: 0;
}
.loginf .verifyW .btn{
	width: 90px;
	height:40px;
	background: #45af35;
	overflow: hidden;
}
.loginf .verifyW .btn img{
	width: 90px;
	height:40px;
}
.loginf .verifyW .btn input{
	width: 90px;
	height:40px;
	background: #45af35;
	overflow: hidden;
	display: block;
	font-size: 14px;
	color: #fefefe;
	text-align: center;
	border: 0;
	outline: 0;
}
.submitBtn{
	width: 305px;
	height: 50px;
	display: block;
	overflow: hidden;
}
.submitBtn a{
	width: 305px;
	height: 50px;
	display: block;
	overflow: hidden;
	font-size:14px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	background: #45af35;
}
.submitBtn a:hover{
	opacity: 0.9;
}
.loginf .forget{
	font-size: 14px;
	color: #4cc6e3;
	line-height: 20px;
	text-align: right;
}
.loginf .forget a{
	color: #4cc6e3;
}
.loginf .noregist{
	font-size: 14px;
	color: #676767;
	line-height: 20px;
}
.loginf .noregist a{
	display: inline;
	color: #4cc6e3;
}
.loginW .banr{
	width: 360px;
	height: 405px;
	overflow: hidden;
	background: #f2ede3;
	position: relative;
}
.loginW .banr .banimg{
	width: 360px;
	height: 315px;
	position: absolute;
	top: 50%;
	margin-top: -155px;
}

/**找回密码成功**/
.backsucc .succtit{
	font-size: 16px;
	color: #383838;
	line-height: 20px;
	text-align: center;
}
.backsucc .succico{
	width: 95px;
	height: 95px;
	margin: 0 auto;
}
.backsucc .tips{
	font-size: 14px;
	text-align: center;
	line-break: 20px;
}
.backsucc .nowlogin a{
	display: block;
	width: 95px;
	height: 40px;
	background: #45af35;
	text-align: center;
	font-size: 16px;
	color: #fefefe;
	line-height: 40px;
	margin: 0 auto;
}
/**注册***/
.registerW{
	width: 740px;
	margin: 0 auto;
	background: #f2f2f2;
}
.registerW .banr{
	width: 360px;
	min-height: 405px;
	overflow: hidden;
	background: #f2ede3;
	position: relative;
}
.registerW .banr .banimg{
	width: 360px;
	height:100%;
	position: absolute;
	top: 50%;
	margin-top: -155px;
}
.register{
	width: 380px;
	background: #f2f2f2;
	overflow: hidden;
}
.registerf{
	width: 305px;
    margin: 0 25px 0 45px;
}
.registerf .chagetit{
	height: 30px;
}
.registerf .chagetit li{
	float: left;
	width: 75px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	color: #afafaf;
	cursor: pointer;
}
.registerf .chagetit li.on{
	color: #2b2b2b;
}
.registerf .chagetit li:nth-of-type(1){
	border-right: 1px solid #dcdcdc;
}
.registerf .section {
    width: 305px;
    height: 40px;
    background: #fff;
    position: relative;
}
.registerf .section input {
    width: 305px;
    height: 40px;
    border: 0;
    outline: 0;
    display: block;
    font-size: 14px;
    color: #b3b3b3;
    text-indent: 20px;
}
.registerf .section .psdchange{
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(../img/hidepsd.png) no-repeat center;
}
.registerf .section .invisible{
	background: url(../img/showpsd.png) no-repeat center;
}
.registerf .verifyW{
    width: 305px;
    height: 40px;
    position: relative;
}
.registerf .verifyW{
	width: 305px;
	height: 40px;
}
.registerf .verifyW .vinput{
	width: 190px;
	height: 40px;
	display: block;
	background: #fff;
}
.registerf .verifyW .vinput input{
	display: block;
	width: 190px;
	height: 40px;
	border: 0;
	outline: 0;
	background: #fff;
	text-indent: 20px;
}
.registerf .verifyW .cbtn{
	width: 100px;
	height:40px;
	background: #45af35;
	overflow: hidden;
}
.registerf .verifyW .cbtn input{
	width: 100px;
	height:40px;
	background: #45af35;
	overflow: hidden;
	display: block;
	font-size: 14px;
	color: #fefefe;
	text-align: center;
	border: 0;
	outline: 0;
}
.registerf .retips{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #595959;
}
.registerf .retips a{
	font-size: 12px;
	color: #1d84ad;
	display: inline;
}

.registerf .dltips{
	width: 40px;
	height: 15px;
	display: block;
	position: relative;
	
}
.registerf .dltips a{
	font-size: 14px;
	color: #2f98bc;
}
.registerf .dltips a i{
	position: absolute;
    left: 0px;
    top: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: block;
    border-left: 7px solid #2f98bc;
}
